*{
  border: none !important;
  margin: 0px;
  padding: 0px;

}

body {
  background-color: black;
  overflow-x: hidden;
}


#P_C1{
  position: absolute;
  width: calc(100vw);
  height: calc(9.6vw);
  top: -.5vw;
  background-color: black;
  border: none;
}

#P_C2{
  position: absolute;
  width: calc(100vw);
  height: calc(40.65vw);
  top: 9.6vw;
  background-color: white;
}

#P_C3{
  position: fixed;
  width: calc(10vw);
  left: 90vw;
}


#AppIcon{
  position: absolute;
  width: calc(27vw);
  top: -4vw;
  left: 12vw;
  z-index: 100;
}

#Letrero{
  position: absolute;
  width: calc(40vw);
  top: 1vw;
  left: 40vw;
  z-index: 101;
}

#Eliminar{
  position: absolute;
  width: calc(20vw);
  top: 12vw;
  left: 49.5vw;
  z-index: 102;
}

#Borde1{
  position: absolute;
  width: calc(100vw);
  top: -1vw;
  left: -0vw;
  transform: rotate(180deg);
}

#Borde2{
  position: absolute;
  width: calc(100vw);
  top: 31vw;
  left: -0vw;
}

#ContinuarBtn{
  position: absolute;
  width: calc(20vw);
  top: 40vw;
  left: 40vw;
}

#ContinuarBtn{
  position: absolute;
  width: calc(20vw);
  top: 40vw;
  left: 40vw;
}

#ContinuarBtn2{
  position: absolute;
  width: calc(20vw);
  top: 40vw;
  left: 40vw;
  opacity: 0;
}

#ContinuarBtn2:hover {
  opacity: 1;
}


#Enredadera{
  position: relative;
  width: calc(10vw);
  top: -9.60vw;
  left: 1vw;
}

#Contador{
  position: absolute;
  left: 64vw;
  top: -14.5vw;
}

#PostTotales{
  width: 5vw;
  color: yellow;
  font-size:5.3vw;
  z-index: 200;
  text-align: center;
}

#PostContainer{
  position: absolute;
  width: 800px;
  top: 5vw;
  height: auto;
  position: : center;
  z-index: 300;

}

.PostElement{
  display: block;
  background-image: image("src/PASO4/SELECCION.png");
  position: relative;
  width: 80vw;
  left: 10vw;
  height: 10vw;
  top: 5vw;
  position: : center;
  border-style: solid;
}

.PostList{
  text-align: center;
}
